body,
button,
input,
select,
textarea,
p,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Noto Sans TC, Lato, sans-serif;
}

.font-rubik {
    font-family: 'Rubik', sans-serif;
}

.font-bold {
    font-weight: 700;
}

.text-2xl {
    font-size: 1.8rem;
    line-height: 2rem;
}

.text-xl {
    font-size: 1.2rem;
    line-height: 2rem;
}


:root {
    --theme-color: #affffa;
}




/* NavBar */


.transparent-navbar {
    background-color: rgba(66, 80, 79, 0.5);
    backdrop-filter: blur(5px);
    transition: background-color 0.3s ease;

    .dropdown-menu {
        min-width: 5rem;
        --bs-dropdown-color: #ffffff;
        --bs-dropdown-bg: #2f383775;
        --bs-dropdown-border-color: rgb(0 0 0 / 0%);
        --bs-dropdown-border-radius: 0.25rem;
        --bs-dropdown-link-color: #ffffff;
        --bs-dropdown-link-hover-color: #ffffff;
        --bs-dropdown-link-hover-bg: #afcbc98c;
        --bs-dropdown-link-active-bg: #afcbc98c;
        backdrop-filter: blur(10px);
    }
}

.opaque-navbar {
    background-color: rgb(175, 203, 201);
    transition: background-color 0.3s ease;


    .dropdown-menu {
        min-width: 5rem;
        --bs-dropdown-color: #ffffff;
        --bs-dropdown-bg: #afcbc9e3;
        --bs-dropdown-border-color: rgba(var(--theme-color), 0.2);
        --bs-dropdown-border-radius: 0.25rem;
        --bs-dropdown-link-color: #000000;
        --bs-dropdown-link-hover-color: #000000;
        --bs-dropdown-link-hover-bg: #afcbc98c;
        --bs-dropdown-link-active-bg: #afcbc98c;
    }

}

.navbar-nav li:hover>ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0%;
    left: 100%;
    margin-top: -2px;

}



/* index */
.index-bg {
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(ellipse at 50% 60%, #608e8bcc 0%, #0d2238 100%);
}





#particles-one {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#particles-two {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}



/* Background */
.intro-bg {
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url('./picture/headerImage.webp');
}

#simple-intro {
    color: #ffffff;
    margin-top: 5%;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fadeInText {
    opacity: 0;
}

.fade-in {
    animation: fadeInAnimation ease 3s;
    animation-fill-mode: forwards;
}

.fade-out {
    animation: fadeOutAnimation ease 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAnimation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}



.item-block {
    /* margin-top: 10vh; */
    margin-bottom: 10vh;
    display: grid;
    place-items: center;
}

.item-block-style {
    letter-spacing: 5px;
    line-height: 2.5rem;
    margin-top: 10vh;
    background-color: #ffffff46;
    height: 88vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #cce1e0;
}

.item-title {
    color: white;
    font-size: 2.5rem;
    line-height: 1;
}


.service-rules {
    background-color: #0d2238c4;
    border-radius: 5px;
    padding: 20px;
    line-height: 1.5;
}

.service-title {
    font-size: 1.8rem;
    line-height: 0.5;
}



footer {
    background-color: #263e4f9f;
    text-align: center;
    color: var(--theme-color);

}

#page-top a {
    box-sizing: border-box;
    display: block;
    color: #62907e;
    padding: 5px;
}

#page-top a:hover {
    background: #c1ffe635;
}

.info-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-link>* {
    margin-right: 10px;
    margin-left: 10px;
}




/* jumbotron
.custom-jumbotron {
    background: url('picture/poster_notext_cut.webp') center/cover no-repeat;
    color: #fff;
    height: 80vh;
    position: relative;
}

.jumbotron-content {
    position: absolute;
    bottom: 5%;
    left: 60%;
    transform: translateX(-50%);
} */

/*
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans TC', sans-serif;
}
p,
a,
input,
label,
textarea,
span,
ul,
li {
    font-family: 'Open Sans', sans-serif;
}
*/

/* :root {
    --percentage: 0%;
} */

/* .fadeInText {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.fadeInText>pre {
    color: #ffffff;
    background-image: linear-gradient(75deg, rgba(255, 255, 255, 1)0%, rgba(255, 255, 255, 1)33.33%, rgba(255, 255, 255, 0)66.67%, rgba(255, 255, 255, 0)100%);
    background-size: 300% 100%;
    background-position-x: calc(190% - var(--percentage));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
} */